In [ ]:
#All code in this file is by Veer Arora in conjunction with group members

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
directory_luis = '/content/drive/MyDrive/Berkeley/Machine Learning 1/Startup Success Machine Learning Folder/Pitchbook/AB1_Cleaned_data_page_1_253+X.csv'
directory_vincent = '/content/drive/MyDrive/Startup Success Machine Learning Folder/Pitchbook/AB1_Cleaned_data_page_1_253+X.csv'
directory_veer = '/content/drive/MyDrive/Startup Success Machine Learning Folder/Pitchbook/AB1_Cleaned_data_page_1_253+X.csv'
data = pd.read_csv(directory_veer)

<ipython-input-2-5c36cf09396a>:5: DtypeWarning: Columns (28,29) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(directory_veer)

In [ ]:
data.shape

(30217, 33)

## Creating interesting Features from Investors

Top VC (early-stage and sorted by performance - Pitchbook Data)

In [ ]:
# define the top 100 early-stage VC funds by performance (Pitchbook Data)
top_100_vc_funds = [
    'Sequoia Capital', 'Menlo Ventures', 'Industry Ventures', 'Kleiner Perkins',
    'TCV', 'Union Square Ventures', 'Inveready Asset Management', 'Khosla Ventures',
    'Korea Investment Partners', 'Maveron', 'New Enterprise Associates', 'Oregon Venture Fund',
    'Trident Capital', 'DCM Ventures', 'Forbion', 'G Squared', 'IVP', 'Northzone Ventures',
    'Union Grove Venture Partners', 'Accel', 'ARCH Venture Partners', 'Greycroft',
    'Index Ventures', 'New Science Ventures', 'Nordic Eye Venture Capital', 'Scale Venture Partners',
    'Sierra Ventures', 'Spark Capital', 'Storm Ventures', 'The Column Group', 'True Ventures',
    '5AM Ventures', 'Anthos Capital', 'Bay City Capital', 'BIP Ventures', 'Boston Capital Ventures',
    'Columbia Capital', 'Emergent Ventures', 'EnCap Flatrock Midstream', 'FinSight Ventures',
    'Greenspring Associates', 'Inspiration Ventures', 'Mayfield Fund', 'Morgenthaler Ventures',
    'NeoMed Management', 'OpenView Venture Partners', 'Opus Capital', 'Pelion Venture Partners',
    'Resolution Ventures', 'Santé Ventures', 'Uncork Capital', 'Western Technology Investment',
    'XVC', 'YL Ventures', '3one4 Capital', 'AdvantEdge Founders', 'Aisling Capital', 'Alta Partners',
    'Arboretum Ventures', 'Asset Management Ventures', 'Austin Ventures', 'Avalon Ventures',
    'Bay Partners', 'Benchmark Capital Holdings', 'BlueYard Capital', 'BMW i Ventures',
    'Boulder Ventures', 'Brandon Capital', 'Centennial Ventures', 'Cervin Ventures',
    'Collab+Currency', 'CP Ventures', 'Crosslink', 'DBL Partners', 'Divergent Ventures',
    'DN Capital', 'Emergence (Financial Services)', 'Energy Impact Partners', 'FINTOP Capital',
    'First Analysis', 'Flagship Pioneering', 'General Catalyst', 'Grayscale VC', 'Harpoon VC',
    'HenQ', 'Hyde Park Venture Partners', 'IA Capital Group', 'IA Ventures', 'India Quotient',
    'Initialized Capital Management', 'INP Capital', 'Inventus Capital Partners', 'IQ Capital Partners',
    'Lanai Ventures', 'Lanchi Ventures', 'Lightspeed Venture Partners', 'Longitude Capital',
    'Lumira Ventures', 'Lux Capital', 'Magma Partners'
]


top_100_vc_funds_set = set(top_100_vc_funds)

# flag if any top 100 VC fund is present
def flag_top_vc(investors):
    if pd.isnull(investors):
        return 0
    investor_list = [inv.strip() for inv in investors.split(',')]
    return int(any(inv in top_100_vc_funds_set for inv in investor_list))

data['Top100earlystageVC_sortedby_performance'] = data['Investors'].apply(flag_top_vc)

Top VC (seed and sorted by amount of investments - Pitchbook Data)

In [ ]:
# define the top 100 seed vcs by amount of investments
top_100_seed_vcs = [
    'Antler', 'Pioneer Fund', 'Gaingels', 'Enterprise Ireland', 'Alumni Ventures',
    'SOSV', 'Sequoia Capital', 'Andreessen Horowitz', 'Elevate Ventures', 'Everywhere Ventures',
    'Precursor Ventures', 'Soma Capital', 'Calm Ventures', 'FJ Labs', 'General Catalyst',
    'High-Tech Gründerfonds', 'Kima Ventures', 'South Park Commons', 'TheVentures', 'Climate Capital',
    'Liquid 2 Ventures', 'Bluepoint Partners', 'MH Ventures', 'East Ventures', 'SFC Capital',
    'Triangle Tweener Fund', 'Accel', 'CNT Tech', '8VC', 'Big Brain Holdings', 'Hack VC', 'HAX',
    'Hustle Fund', 'Mana Ventures', 'Orange DAO', 'Bossa Invest', 'Robot Ventures', 'Cogitent Ventures',
    'Cypher Capital (Dubai)', 'Haatch', 'BoxGroup', 'Connecticut Innovations', 'Khosla Ventures',
    'Skyland Ventures', 'Blockchain Founders Fund', 'Contango Digital Assets', 'Loyal VC',
    'Pear (California)', 'Polychain Capital', 'Speedinvest', 'Binance Labs', 'Hashkey Capital',
    'Lightspeed Venture Partners', 'Mitsubishi UFJ Capital', 'NFX', 'SBXi', 'Service Provider Capital',
    'Symbolic Capital', 'Waterdrip Capital', 'Goodwater Capital', 'GrowthX Capital', 'Index Ventures',
    'SV Angel', 'BonAngels Venture Partners', 'Boost VC', 'Borderless Capital', 'Mirana Ventures',
    'NxGen Ventures', 'Rebel Fund', 'Seedcamp', 'Arrington Capital', 'Mashup Angels',
    'Phoenix Investment Club (San Francisco)', 'Vento', 'Venture Catalysts (Mumbai)',
    'WAGMI Ventures (New York)', 'Anagram (Cayman Islands)', 'Berkeley SkyDeck Fund', 'Felicis',
    'K5 Global', 'Orbit Startups', 'Wayfinder Ventures', 'Animoca Ventures', 'ANOBAKA', 'ANRI',
    'Axel Springer Porsche', 'Breed VC', 'Draper Associates', 'E14 Fund', 'First Round Capital',
    'Hatcher+', 'Keiretsu Forum', 'P2 Ventures', 'Ritual Capital', 'Samsung NEXT Ventures',
    'Selini Capital', 'ABCDE Capital', 'City Light Capital', 'dao5', 'Delphi Ventures (Ne'
]


top_100_seed_vcs_set = set(top_100_seed_vcs)

# flag if any top 100 seed VC fund is present
def flag_top_seed_vc(investors):
    if pd.isnull(investors):
        return 0
    investor_list = [inv.strip() for inv in investors.split(',')]
    return int(any(inv in top_100_seed_vcs_set for inv in investor_list))

# apply the function
data['Top100SeedVC_sorted_by_numinvestments'] = data['Investors'].apply(flag_top_seed_vc)

Accelerator (top 100 accelerator/incubator sorted by total investments - Pitchbook Data)

In [ ]:
# top 100 accelerator/incubator sorted by total investments
top_100_accelerators = [
    'Innovate UK', 'Y Combinator', 'Plug and Play Tech Center', 'Techstars',
    '500 Global', 'Google for Startups', 'Tech Incubator Program for Startups',
    'Village Capital', 'Capital Factory', 'Startupbootcamp', 'Creative Destruction Lab',
    'Microsoft for Startups', 'Venture Kick', 'Start-Up Chile', 'Wayra', 'StartX (US)',
    'Astralabs', 'Alchemist Accelerator', 'Cyberport Hong Kong',
    'Ben Franklin Technology Partners of Southeastern Pennsylvania', 'Berkeley SkyDeck',
    'Startup Wise Guys', 'gener8tor', 'LAUNCH Fund', 'Flat6labs', 'InnoFounder', 'QB3',
    'Rockstart', 'EIT Digital', 'Entrepreneurs Roundtable Accelerator', 'SICTIC',
    'Outlier Ventures', 'IndieBio', 'Tenity', 'Greentown Labs', 'Founders Factory',
    'EIT KIC Urban Mobility', 'Parallel18', 'Invest Ottawa', 'StartupLab',
    'Unicorn Factory Lisboa', 'Velocity (University of Waterloo)', 'Tech Nation Group',
    'NDRC', 'IIMA Ventures', 'imec.istart', 'Quake Capital', '500 Startups LatAm',
    'Brinc (Hong Kong)', 'FuturePlay', 'Startmate', 'EvoNexus', 'TusStar Incubator',
    'Surge (Accelerator)', 'R/GA Ventures', 'Neo (Consulting Services (B2B))',
    'Ben Franklin Technology Partners of Central and Northern Pennsylvania', 'Hub71',
    'Innovationsfonden', 'Primer (South Korea)', 'Los Angeles Cleantech Incubator',
    'Third Derivative', 'Capital Innovators', 'Miracleplus', 'Alliance DAO', 'Betaworks',
    'Open Network Lab', 'G-STARTUP', '9Unicorns', 'Society for Innovation and Entrepreneurship',
    'Iterative Accelerator', 'IIIT-H Foundation', 'Sustainable Ventures', 'ICA Fund',
    'Center for Creative Economy and Innovation', 'Georgia Tech VentureLab', 'D-Camp',
    'Digital Magics', 'Elemental Impact', 'TechFounders', '50 Partners', 'IMT Starter',
    'Upekkha', 'AppWorks', 'MeitY Startup Hub', 'Ann Arbor SPARK', 'XRC Ventures',
    'Thrive by SVG Ventures', 'IIT Madras Incubation Cell', 'Expa', 'Venture Square',
    'InsurTech NY', 'Seoul National University Technology Holdings', 'Activate Global',
    'Innosphere Ventures', 'Fongit', 'GSF India', 'X21 Digital', 'Start Path', 'Start-up BW'
]


top_100_accelerators_set = set(top_100_accelerators)

# flag if any top 100 accelerator/incubator is present
def flag_top_accelerator(investors):
    if pd.isnull(investors):
        return 0
    investor_list = [inv.strip() for inv in investors.split(',')]
    return int(any(inv in top_100_accelerators_set for inv in investor_list))

# apply the function
data['Top100Accelerator_Flag'] = data['Investors'].apply(flag_top_accelerator)

Number of Investors

In [ ]:
data['Investors'] = data['Investors'].fillna('').astype(str)

# Create set of unique investors
unique_investors = set(data['Investors'].str.split(',').sum())

# number of unique new investors for each row
data['Num_Unique_New_Investors'] = data['Investors'].apply(
    lambda x: len(set(x.split(',')).intersection(unique_investors))
)

## Creating Features with Founding Year and Deal Date

Create Features: Company Age at Deal Date, Year of Deal, Business Quarter of Deal

In [ ]:
# convert Deal Date to datetime format
data['Deal Date'] = pd.to_datetime(data['Deal Date'], errors='coerce')

In [ ]:
# Feature 1: Year of Deal
data['Year_of_Deal'] = data['Deal Date'].dt.year

# Feature 2: Company Age at Deal Date
data['Company_Age_at_Deal_Date'] = data['Year_of_Deal'] - data['Year Founded']

# Feature 3: Busienss Quater
data['Business_Quarter_at_Deal'] = data['Deal Date'].dt.quarter
quarter_mapping = {1: 'Q1', 2: 'Q2', 3: 'Q3', 4: 'Q4'}
data['Business_Quarter_at_Deal'] = data['Business_Quarter_at_Deal'].map(quarter_mapping)

## Further cleaning since Deal Date has null values

In [ ]:
data['Deal Date'].isnull().sum()

2849

## Creating Features with HQ Location

In [ ]:
data['HQ_State'] = data['HQ Location'].str.split(', ').str[-1]
data['HQ_City'] = data['HQ Location'].str.split(', ').str[0]

Create Region

In [ ]:
# Mapping State to region:
region_map = {
    # west coast
    'CA': 'West Coast', 'WA': 'West Coast', 'OR': 'West Coast',

    # east coast
    'NY': 'East Coast', 'NJ': 'East Coast', 'MA': 'East Coast', 'CT': 'East Coast',
    'RI': 'East Coast', 'NH': 'East Coast', 'ME': 'East Coast', 'VT': 'East Coast',
    'PA': 'East Coast', 'DE': 'East Coast', 'MD': 'East Coast', 'VA': 'East Coast',
    'NC': 'East Coast', 'SC': 'East Coast', 'GA': 'East Coast', 'FL': 'East Coast',
    'DC': 'East Coast',

    # midwest
    'IL': 'Midwest', 'IN': 'Midwest', 'MI': 'Midwest', 'OH': 'Midwest', 'WI': 'Midwest',
    'IA': 'Midwest', 'KS': 'Midwest', 'MN': 'Midwest', 'MO': 'Midwest', 'NE': 'Midwest',
    'ND': 'Midwest', 'SD': 'Midwest',

    # south
    'TX': 'South', 'OK': 'South', 'AR': 'South', 'LA': 'South',
    'KY': 'South', 'TN': 'South', 'MS': 'South', 'AL': 'South',
    'WV': 'South',

    # southwest
    'AZ': 'Southwest', 'NM': 'Southwest', 'NV': 'Southwest', 'UT': 'Southwest',

    # rocky mountains
    'CO': 'Rocky Mountains', 'ID': 'Rocky Mountains', 'MT': 'Rocky Mountains', 'WY': 'Rocky Mountains',

    # pacific
    'AK': 'Pacific', 'HI': 'Pacific',

    # Non-continental
    'PR': 'Non-continental',
    'VI': 'Non-continental',
    'GU': 'Non-continental',
    'AS': 'Non-continental',
    'MP': 'Non-continental',
}

# apply  mapping
data['HQ_Geographical_Region'] = data['HQ_State'].map(region_map)

Create Tech Hub

In [ ]:
# cities that are tech hubs based
##
# Data Provided from https://startupgenome.com/articles/silicon-valley-leads-discover-north-americas-top-startup-ecosystems
##
tech_hubs = [
    'Silicon Valley, CA', 'San Francisco, CA', 'Menlo Park, CA', 'Palo Alto, CA',
    'New York, NY', 'Los Angeles, CA', 'Boston, MA', 'Washington, D.C.',
    'Miami, FL', 'Chicago, IL', 'San Diego, CA', 'Seattle, WA',
    'Philadelphia, PA', 'Austin, TX', 'Atlanta, GA', 'Denver, CO',
    'Boulder, CO', 'Salt Lake City, UT', 'Provo, UT', 'Dallas, TX',
    'Detroit, MI', 'Research Triangle, NC', 'Houston, TX',
    'Minneapolis, MN', 'Phoenix, AZ', 'Orlando, FL', 'Pittsburgh, PA',
    'Tampa, FL', 'Portland, OR', 'Wilmington, DE', 'Charlotte, NC'
]

# flag when HQ Location is a tech hub
data['HQ_at_Tech_Hub'] = data['HQ Location'].isin(tech_hubs).astype(int)

In [ ]:
data.columns

Index(['Company ID', 'VC Round', 'Deal No.', 'Current Employees',
       'Year Founded', 'Deal Date', 'City', 'CEO Biography', 'CEO Education',
       'Keywords', 'Current Business Status', 'Primary Industry Sector',
       'Deal Type', 'Deal Type 2', 'Deal Status', 'Financing Status',
       'Business Status', 'Primary Industry Code', 'Vertical', 'Description',
       'HQ Location', 'Deal Size', 'Raised to Date', 'Total Invested Equity',
       'Post Valuation', 'Revenue', 'Active Patent Documents',
       'Total Patent Documents', 'Pending Patent Documents', 'Net Income',
       'EBITDA', 'Gross Profit', 'Investors',
       'Top100earlystageVC_sortedby_performance',
       'Top100SeedVC_sorted_by_numinvestments', 'Top100Accelerator_Flag',
       'Num_Unique_New_Investors', 'Year_of_Deal', 'Company_Age_at_Deal_Date',
       'Business_Quarter_at_Deal', 'HQ_State', 'HQ_City',
       'HQ_Geographical_Region', 'HQ_at_Tech_Hub'],
      dtype='object')

In [ ]:
final_df = data

## Filter for completed deals only

In [ ]:
final_df = final_df[final_df["Deal Status"] == "Completed"]

## Identify first and last funding rounds and create target variable

In [ ]:
# Change datatypes to float in order to create the target variables

final_df["Post Valuation"] = [float(str(i).replace(",", "")) for i in final_df["Post Valuation"]]
final_df["Raised to Date"] = [float(str(i).replace(",", "")) for i in final_df["Raised to Date"]]
final_df["Total Invested Equity"] = [float(str(i).replace(",", "")) for i in final_df["Total Invested Equity"]]
final_df["Deal Size"] = [float(str(i).replace(",", "")) for i in final_df["Deal Size"]]

"""
final_df['Post Valuation'] = pd.to_numeric(final_df['Post Valuation'], errors='coerce')
final_df['Total Invested Equity'] = pd.to_numeric(final_df['Total Invested Equity'], errors='coerce')
final_df['Raised to Date'] = pd.to_numeric(final_df['Raised to Date'], errors='coerce')
"""

"\nfinal_df['Post Valuation'] = pd.to_numeric(final_df['Post Valuation'], errors='coerce')\nfinal_df['Total Invested Equity'] = pd.to_numeric(final_df['Total Invested Equity'], errors='coerce')\nfinal_df['Raised to Date'] = pd.to_numeric(final_df['Raised to Date'], errors='coerce')\n"

In [ ]:
# Creates columns indicating whether a deal is the first/last funding round
# Creates target variables, indicating whetehr a company became a unicorn or raised more than 100 million in funding
def create_targets(df):

    sorted_df = df.sort_values(['Company ID', 'Deal No.'])

    sorted_df['is_first_round'] = sorted_df.groupby('Company ID')['Deal No.'].transform('first') == sorted_df['Deal No.']
    sorted_df['is_first_round'] = sorted_df['is_first_round'].astype(int)

    sorted_df['is_last_round'] = sorted_df.groupby('Company ID')['Deal No.'].transform('last') == sorted_df['Deal No.']
    sorted_df['is_last_round'] = sorted_df['is_last_round'].astype(int)

    last_rounds = sorted_df[sorted_df["is_last_round"] == 1]

    #Create Unicorn Column
    unicorn_companies = set(last_rounds[last_rounds['Post Valuation'] > 1000]['Company ID'])
    sorted_df['Unicorn'] = sorted_df['Company ID'].apply(lambda x: 1 if x in unicorn_companies else 0)

    #Create 'Valuation > 100m' Column
    valuation_100m = set(last_rounds[last_rounds['Post Valuation'] > 100]['Company ID'])
    sorted_df['Valuation > 100m'] = sorted_df['Company ID'].apply(lambda x: 1 if x in valuation_100m else 0)

    # Create 'Raised > 100m funding' Column
    raised_100m = set(last_rounds[last_rounds['Raised to Date'] > 100]['Company ID'])
    sorted_df['Raised > 100m'] = sorted_df['Company ID'].apply(lambda x: 1 if x in raised_100m else 0)

    sorted_df.sort_index(inplace=True)

    return sorted_df

In [ ]:
final_df = create_targets(final_df)

## Finding Profit and Loss

In [ ]:
#share_acq = data['Deal Size']/data['Post Valuation']

valid_first_rounds = final_df[(final_df['is_first_round'] == 1) & final_df['Post Valuation'].notna() & final_df['Deal Size'].notna()]
valid_last_rounds = final_df[(final_df['is_last_round'] == 1) & final_df['Post Valuation'].notna() & final_df['Deal Size'].notna()]

valid_companies = set(valid_first_rounds['Company ID']).intersection(valid_last_rounds['Company ID'])

result = final_df[final_df['Company ID'].isin(valid_companies) & (final_df['is_first_round'] | final_df['is_last_round'])]

result = result[result['Valuation > 100m'] == 1]
fail = final_df[(final_df['Valuation > 100m'] == 0) & (final_df['is_first_round'] == 1) & (final_df['Deal Size'].notna())]

## Profitable Company Metrics

In [ ]:
profit = []

#result['Deal Size'] = pd.to_numeric(result['Deal Size'], errors='coerce')
#result['Post Valuation'] = pd.to_numeric(result['Post Valuation'], errors='coerce')

for company_id in result['Company ID'].unique():
    company_data = result[result['Company ID'] == company_id]
    if len(company_data) == 1:
      continue
    else:
        first_round = company_data[company_data['is_first_round'] == 1].iloc[0]
        last_round = company_data[company_data['is_last_round'] == 1].iloc[0]

        initial_share = first_round['Deal Size']/first_round['Post Valuation']
        final_share_value = initial_share * last_round['Post Valuation']
        share_acquired = final_share_value - first_round['Deal Size']

    profit.append({'Company ID': company_id, 'Profit': share_acquired})

result_df = pd.DataFrame(profit)

result_df.describe()

            Profit
count   618.000000
mean    201.816302
std     498.116102
min       0.000000
25%      37.888571
50%      68.515947
75%     166.342778
max    8717.180233

## Companies taking a Loss

In [ ]:
fail['Deal Size'] = pd.to_numeric(fail['Deal Size'], errors='coerce')

fail['Deal Size'].describe()

<ipython-input-117-a469ee8202f3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fail['Deal Size'] = pd.to_numeric(fail['Deal Size'], errors='coerce')

count    7053.000000
mean        3.803973
std        14.521919
min         0.010000
25%         0.450000
50%         1.300000
75%         3.160000
max       654.000000
Name: Deal Size, dtype: float64

## Get target variable distribution

In [ ]:
raised100m_companies1 = final_df[(final_df["is_last_round"] == 1) & (final_df["Raised > 100m"] == 1)]
unicorn_companies1 = final_df[(final_df["is_last_round"] == 1) & (final_df["Unicorn"] == 1)]
valuation_100m = final_df[(final_df["is_last_round"] == 1) & (final_df["Valuation > 100m"] == 1)]
print("Number of companies that raised more than 100 million in funding: ", len(raised100m_companies1))
print("Number of unicorns: ", len(unicorn_companies1))
print("Number of companies that achieved valuation higher than 100m: ", len(valuation_100m))

Number of companies that raised more than 100 million in funding:  780
Number of unicorns:  124
Number of companies that achieved valuation higher than 100m:  846

## Create a binary variable indicating whether the company had a previous funding round or not

In [ ]:
previous_round = [0 if row == 1 else 1 for row in final_df["Deal No."]]
final_df["Previous_Funding_Round"] = pd.Series(previous_round)

## Define steps for NLP preprocessing

In [ ]:
import nltk
from string import punctuation
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer


nltk.download('punkt')
nltk.download('stopwords')
nltk.download('punkt_tab')

stop_words = set(stopwords.words('english'))
porter = PorterStemmer()

# Function to remove punctuation
def remove_punctuation(document):

    no_punct = "".join([c for c in document if c not in punctuation])

    return no_punct

# Function to remove digits
def remove_digit(document):

    no_digit = "".join([c for c in document if not c.isdigit()])

    return no_digit

# Tokenize and remove stopwords
def tokenize_and_remove_stopwords(document):

    words = word_tokenize(document)
    words = [word for word in words if word not in stop_words]

    return words

# Perform stemming
def stemmer(document):

    stemmed_document = [porter.stem(word) for word in document]

    return stemmed_document

# Function to preprocess text columns
def preprocess_text(x):
    # If input is NaN, empty string, or empty list, return 'Missing'
    if (pd.isna(x) or
        x == '' or
        (isinstance(x, list) and len(x) == 0)):
        return 'Missing'

    if not isinstance(x, str):
        return x

    # Preprocessing steps
    x = x.lower()
    x = remove_punctuation(x)
    x = remove_digit(x)
    x = tokenize_and_remove_stopwords(x)
    x = stemmer(x)

    # If preprocessing results in empty list or empty string, return 'Missing'
    if not x or (isinstance(x, list) and len(x) == 0):
        return 'Missing'

    return x

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package punkt_tab to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt_tab.zip.

## Perform processing for CEO Education, Keywords, and CEO Biography

In [ ]:
columns_to_process = ['CEO Education', 'Keywords', 'CEO Biography']
for col in columns_to_process:
    final_df[col] = final_df[col].apply(preprocess_text)

In [ ]:
def add_col_name(document, string):

    added_document = ["".join([word, string]) for word in document]

    return added_document

In [ ]:
final_df["CEO Education"] = final_df["CEO Education"].apply(lambda x: add_col_name(x,"_edu"))
final_df["CEO Biography"] = final_df["CEO Biography"].apply(lambda x: add_col_name(x,"_bio"))
final_df["Keywords"] = final_df["Keywords"].apply(lambda x: add_col_name(x,"_key"))

## Apply TF-IDF Vectorization

In [ ]:
from nltk.tokenize.treebank import TreebankWordDetokenizer
from sklearn.feature_extraction.text import TfidfVectorizer, TfidfTransformer
from sklearn.feature_selection import SelectKBest, chi2

def tf_idf_term_matrix(column, maxfeatures):


    column_detokenized = column.apply(TreebankWordDetokenizer().detokenize)

    # TF-IDF Vectorization
    vectorizer = TfidfVectorizer(
        max_features=maxfeatures,    # Limit total features to 1000
        max_df=0.9,           # Ignore terms in > 90% of documents
        min_df=0.005              # Ignore terms in fewer than 0.5% documents
    )

    # Transform text to feature matrix
    sparse = vectorizer.fit_transform(column_detokenized)

    return sparse, vectorizer

sparse_ceo_edu, vectorizer_edu = tf_idf_term_matrix(final_df["CEO Education"],100) ## only about 150 in total
sparse_keywords, vectorizer_keywords = tf_idf_term_matrix(final_df["Keywords"],300)
sparse_ceo_biography, vectorizer_ceo_bio = tf_idf_term_matrix(final_df["CEO Biography"],150)

## Create text feature dataframes

In [ ]:
ceo_education_features = pd.DataFrame(
    sparse_ceo_edu.toarray(),
    columns=vectorizer_edu.get_feature_names_out(),
    index=final_df.index
)

keyword_features = pd.DataFrame(
    sparse_keywords.toarray(),
    columns=vectorizer_keywords.get_feature_names_out(),
    index=final_df.index
)
ceo_bio_features = pd.DataFrame(
    sparse_ceo_biography.toarray(),
    columns=vectorizer_ceo_bio.get_feature_names_out(),
    index=final_df.index
)

In [ ]:
pd.set_option("display.max_rows()", None)
keyword_features.sum().sort_values(ascending=False).head(10)

platform_key     1730.263301
manag_key        1580.645551
data_key         1280.521293
servic_key       1241.303268
technolog_key    1211.094079
product_key      1159.798325
softwar_key      1007.984952
system_key        960.025256
analyt_key        910.308906
devic_key         852.778659
dtype: float64

In [ ]:
ceo_education_features.sum().sort_values(ascending=False).iloc[6:16]

univers_edu      2871.648050
bachelor_edu     1961.148708
scienc_edu       1955.510098
busi_edu         1420.955844
master_edu       1386.638668
degre_edu        1302.853896
bs_edu           1204.418022
art_edu          1064.041335
administr_edu    1054.258812
engin_edu        1035.987131
dtype: float64

## Generate categorical features for Vertical

In [ ]:
final_df.shape

(29577, 50)

In [ ]:
final_df["Vertical"] = final_df["Vertical"].fillna('Missing')
final_df["Vertical"] = final_df["Vertical"].apply(lambda x: 'Missing' if isinstance(x, float) else x)

In [ ]:
def expand_categorical_column(df, column_name):

    expanded_df = df.copy()

    # Split the categories and get unique categories
    all_categories = set(
        category.strip()
        for categories in expanded_df[column_name]
        for category in categories.split(','))

    # Create binary columns for each unique category
    for category in all_categories:
        expanded_df[category] = expanded_df[column_name].apply(
            lambda x: 1 if category in str(x).split(',') else 0
        )

    return expanded_df

In [ ]:
final_df = expand_categorical_column(final_df, "Vertical")
final_df.shape

(29577, 110)

Create Feature Deal Type (Series) for filtering

In [ ]:
final_df['Deal Type (Series)']=final_df['Deal Type 2']

## Preprocess categorical columns

In [ ]:
def preprocess_categorical_columns(df, columns):

    processed_df = df.copy()

    # Process each specified column
    for col in columns:

        processed_df[col] = processed_df[col].fillna('Missing')
        processed_df[col] = processed_df[col].astype('category')

        # Perform one-hot encoding
        # Find the most common category to drop as reference
        most_common = processed_df[col].mode()[0]
        print(most_common)

        # Create one-hot encoded columns
        dummies = pd.get_dummies(
            processed_df[col],
            prefix=col,
            drop_first=True,  # Drop the most common category
            prefix_sep='_',
            dtype=int
        )

        # Remove the original categorical column
        processed_df = processed_df.drop(columns=[col])

        # Add one-hot encoded columns
        processed_df = pd.concat([processed_df, dummies], axis=1)

    return processed_df

In [ ]:
categorical_columns = ["Primary Industry Code", "Year Founded", "Current Business Status",
                       "Primary Industry Sector", "Deal Type 2", "Business_Quarter_at_Deal",
                       "HQ_Geographical_Region"]
final_df = preprocess_categorical_columns(final_df, categorical_columns)

Business/Productivity Software
2017
Generating Revenue
Information Technology
Missing
Q1
East Coast

## Drop columns we don't need and concatenate all feature dataframes

In [ ]:
final_df.drop(columns=["Deal No.", "Current Employees", "Deal Date", "City",
                       "CEO Biography", "CEO Education", "Keywords", "Deal Type", "Deal Status",
                       "Financing Status", "Business Status", "Vertical", "Description",
                       "HQ Location", "Deal Size", "Raised to Date", "Total Invested Equity",
                       "Post Valuation", "Revenue", "Active Patent Documents", "Total Patent Documents",
                       "Pending Patent Documents", "Net Income", "EBITDA", "Gross Profit", "Investors",
                       "Year_of_Deal", "HQ_State", "HQ_City"], inplace=True)

In [ ]:
final_df = pd.concat([final_df, ceo_education_features, keyword_features, ceo_bio_features], axis=1)

In [ ]:
pd.set_option("display.max_columns", None)
final_df.shape

(29577, 874)

## Output data with features

In [ ]:
directory_Luis= "/content/drive/MyDrive/Berkeley/Machine Learning 1/Startup Success Machine Learning Folder/Pitchbook/AB2_Data_FeatureENG_page_1_253+X.csv"
directory_vincent = '/content/drive/MyDrive/Startup Success Machine Learning Folder/Pitchbook/AB2_Data_FeatureENG_page_1_253+X.csv'
directory_veer = '/content/drive/MyDrive/Startup Success Machine Learning Folder/Pitchbook/AB2_Data_FeatureENG_page_1_253+X.csv'
final_df.to_csv(directory_veer, index=False)